{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Hotelio {% endblock title %} </title>
    
    <link rel="stylesheet" href="{% static 'booking/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'booking/css/bootstrap-grid.min.css' %}">
    <script src="{% static 'booking/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'booking/js/bootstrap.bundle.min.js' %}"></script>
</head>
<body>
    
    {% block navbar %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="container"><a class="navbar-brand me-lg-auto" href="#">Hotelio</a></div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    <a class="nav-link" href="#">Bookings</a>
                    <a class="nav-link" href="#">Pricing</a>
                    
                </div>
             </div>
        </div>
      </nav>

    {% endblock navbar %}


    {% block content %}
      
    {% endblock content %}
    
</body>
</html>