{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Cancel Booking {% endblock title %}</title>
</head>

<body>
    {% block content %}
      
    <!-- Navbar is loaded from base.html here -->

    <div class="content">

        <div class="room">

            <div class="home">
                <a href="{% url 'booking:RoomListView' %}" class="text-decoration-none"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

            <div class="container col-xxl-8 px-4 py-5">
                <div class="row align-items-center g-5 py-5">
                    <div class="col-10 col-sm-8 col-lg-6">
                        <img src="{{ booking.room.image_url }}" class="d-block mx-lg-auto img-fluid" alt="Room Image" width="700" height="600" loading="lazy">
                    </div>
                    <div class="col-lg-6">
                        <div class="room-info">
                            <h1>Confirm cancel booking:</h1>
                        </div>

                        <form id="booking-form" action="" method="POST">

                            {% csrf_token %} 

                            <h4 class="text-muted">{{ booking.get_category }}</h4>
                            <hr>
                            <p> {{booking.get_category}} {{booking.room.room_number}}</p>
                            <p class="card-text"> Booked by: {{booking.user}}</p>
                            <p class="card-text"> From: {{booking.check_in}}</p>
                            <p class="card-text"> To: {{booking.check_out}}</p>
                            
                            <div class="input-div">
                                <button class="btn btn-danger" type="submit">Cancel Booking</button>
                            </div>
            
                        </form>

                    </div>
                </div>
            </div>
        </div> 
    </div>
    
    {% endblock content %}

</body>

</html> 