{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Booking List {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'booking/css/booking_list.css' %}">
</head>

<body>

    {% block content %}

    <!-- Navbar is loaded from base.html here -->

    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>Your Bookings</h1>
                <h4>Welcome {{ user }}</h4>
            </div>
            
            <div class="home">
                <a href="{% url 'booking:RoomListView' %}"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
            </div>

        </div>


        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for booking in booking_list %}

            <div class="col">
                <div class="card text-dark bg-light mb-3 h-100">
                    <img src="{{ booking.room.image_url }}" class="card-img-top" alt="Room Image" style="height: 250px;" loading="lazy">
                    <div class="card-body">
                        <h3 class="card-title">{{ booking.get_category }}</h3>
                        <p class="card-text">From: {{ booking.check_in }}</p>
                        <p class="card-text">To: {{ booking.check_out }}</p>
                        <p class="card-text">From: {{ booking.room.beds }}</p>
                        <p class="card-text">Capacity: {{ booking.room.capacity }}</p>
                        <a href="{{ booking.cancel_booking }}" class="btn btn-danger"><p class="far fa-times-circle"> Cancel Booking</p></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    {% endblock content %}

</body>

</html>