{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Hotelio|Payment Complete {% endblock title %}</title>

</head>

<body>
    {% block content %}

    <!-- Navbar is loaded from base.html here -->
    <div class="container">
        <div class="col text-center">
            <h1>Payment has been approved. Click below to view your bookings</h1>
            <div class="home">
                <a href="{% url 'booking:BookingListView' %}" class="text-decoration-none"><i class="fas fa-arrow-alt-circle-left">Your Bookings</i></a>
            </div>
            <div>
                <a class="btn btn-info"  href="{% url 'booking:ReceiptDownloadView' %}">Download Receipt</a>
            </div>
        </div>
    </div>
    

    {% endblock content %}
    
</body>
</html>