{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Hotelio|Payment Error {% endblock title %}</title>

</head>

<body>
    {% block content %}

    <!-- Navbar is loaded from base.html here -->

    <h1>An error occured during payment processing</h1>
    <div class="home">
        <a href="{% url 'booking:RoomListView' %}" class="text-decoration-none"><i class="fas fa-arrow-alt-circle-left">Home</i></a>
    </div>

    {% endblock content %}
    
</body>
</html>